/*==========  1.1 IMPORT GOOGLE FONT  ==========*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Raleway:500,600,700);


h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Raleway', sans-serif;
	margin-bottom: 0;
	margin-top: 0;
}

h1 {
	font-size: 2.813rem;
	line-height: 3.75rem;
	font-weight: 500;
}

h2 {
	font-size: 2.188rem;
	line-height: 3.125rem;
	font-weight: 500;
}

h3 {
	font-size: 1.5rem;
	line-height: 2.375rem;
	font-weight: 600;
}

h4 {
	font-size: 1.25rem;
	line-height: 2rem;
	font-weight: 600;
}

h5 {
	font-size: 18px;
	line-height: 28px;
	font-weight: 700;
  border-bottom: 2px solid;
  border-top: 2px solid;
  display: inline-block;
  padding: 5px 0;
}

h6 {
	font-size: 16px;
	line-height: 25px;
	font-weight: 700;
}



a {
	text-decoration: none;
  -webkit-transition: all ease 0.25s;
	-moz-transition: all ease 0.25s;
	transition: all ease 0.25s;
}

a:hover {
	text-decoration: underline;
}

a:focus {
	outline: inherit;
	color: inherit;
}

strong {
	font-weight: 700;
}

.strong {
	font-weight: 700;
}
